<div style="padding-left: 16px;padding-right: 16px;">
    <div class="pdp-bottom-container" fxLayout="row" fxLayoutAlign="space-between start" >
         <p style="font-size: 14px;margin-bottom: 4px;width: 60%;"> {{detailsData.title.text}}</p>
        <p  style="color:#FF6C00; font-size: 14px;margin-bottom: 4px;"><u>{{detailsData.action.title}}</u></p>
        </div>
        <p style="font-size: 16px;" style="margin-top: 4px;margin-bottom: 4px;">{{detailsData.subtitle.text}}</p>
        <p style="font-size: 16px;font-weight: bold;margin-top: 8px;margin-bottom: 8px;">{{detailsData.price.text}}</p>
    </div>