.product-style-image{
   
    background: #f6f6f6;
    border-radius: 50%;
    object-fit: contain;
    display: block;
    width: 45px;
    height: 45px;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    cursor: pointer;
 }